@CHARSET 'UTF-8';

#logo {
	background: 0 center url('img/yadng_32.png') no-repeat;
	padding-left: 48px;
}

#url_legend {
	background: 0 center url('img/world_link.png') no-repeat;
	padding-left: 40px;
}

#search_legend {
	background: 0 center url('img/arrow_out.png') no-repeat;
	padding-left: 40px;
}

#vote_legend {
	background: 0 center url('img/zone.png') no-repeat;
	padding-left: 40px;
}

#donate_legend {
	background: 0 center url('img/moneybox.png') no-repeat;
	padding-left: 40px;
}

#selected_mode_0_label {
	background: 0 center url('img/shape_move_front.png') no-repeat;
	padding-left: 20px;
}

#selected_mode_1_label {
	background: 0 center url('img/shape_move_back.png') no-repeat;
	padding-left: 20px;
}

#index_mode_0_label {
	background: 0 center url('img/tab_right.png') no-repeat;
	padding-left: 20px;
}

#index_mode_1_label {
	background: 0 center url('img/tab_left.png') no-repeat;
	padding-left: 20px;
}

.se_input_url {
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 25px;
}

.yadng_zone {
	margin: 0 auto 10px auto;
	width: 48px;
}

.yadng_zone_icon {
	background-repeat: no-repeat;
	background-position: center center;
	width: 24px;
	height: 24px;
	float: left;
}

.yadng_zone_9 {
	margin: 0 auto 10px auto;
	width: 72px;
}