@CHARSET 'UTF-8';

.img_bg {
	background-position: 0 center;
	background-repeat: no-repeat;
}

.img_bg_header {
	padding-left: 40px;
}

.img_bg_label {
	padding-left: 20px;
}

#logo {
	background-image: url('img/yadng_32.png');
	padding-left: 48px;
}

#url_header {
	background-image: url('img/world_link.png');
}

#search_header {
	background-image: url('img/arrow_out.png');
}

#vote_header {
	background-image: url('img/zone.png');
}

#donate_header {
	background-image: url('img/moneybox.png');
}

#selected_mode_0_label {
	background-image: url('img/shape_move_front.png');
}

#selected_mode_1_label {
	background-image: url('img/shape_move_back.png');
}

#index_mode_0_label {
	background-image: url('img/tab_right.png');
}

#index_mode_1_label {
	background-image: url('img/tab_left.png');
}

.se_input_url {
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 25px;
}

.yadng_zone {
	margin: 0 auto 10px auto;
}

.zone_4 {
	width: 48px;
}

.zone_9 {
	width: 72px;
}

.zone_icon {
	background-repeat: no-repeat;
	background-position: center center;
	width: 24px;
	height: 24px;
	float: left;
}